* {
    margin: 0;
    padding: 0;
}

.img {
    background: url("../img/cover.jpg") no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img .content {
    width: 905px;
    height: 100vh;
    background-color: #fff;
    opacity: 0.5;
    font-family: "华文新魏";
    font-size: 2em;
    text-align: center;
    border-radius: 50px;
    overflow: auto;
    box-shadow: 5px 5px 5px black;
}

h1 {
    color: rgb(111, 110, 110);
    -webkit-text-stroke: 1px rgb(111, 110, 110);
    -webkit-text-fill-color: transparent;
    font-family: "华文行楷";
    animation: h1ani 2s ease-out;
    transition: 3s;
}

h1:hover {
    text-shadow: 1px 1px 1px red, 1px 1px 1px yellow, 1px 1px 4px aqua;
}

@keyframes h1ani {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

.span1 {
    font-family: "华文行楷";
    color: rgb(111, 110, 110);
    -webkit-text-stroke: 1px rgb(111, 110, 110);
    -webkit-text-fill-color: transparent;
    font-size: 0.8em;
    transition: 3s;
}

.span1:hover {
    text-shadow: 1px 1px 1px red, 1px 1px 1px yellow, 1px 1px 4px aqua;
}

p {
    text-indent: 2em;
    font-family: "隶书";
    filter: blur(5px);
    font-size: 0.8em;
    writing-mode: tb-rl;
    transition: 2s;
}

p:hover {
    filter: blur(0);
    animation: pd 5s infinite linear;
    text-shadow: 1px 1px 1px rgb(190, 249, 249), 1px 1px 1px red, 1px 1px 1px aqua;
    color: rgb(224, 80, 80);
}

@keyframes pd {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(5px);
    }
}

::-webkit-scrollbar {
    display: none;
}

.logo {
    width: 5em;
    height: 2em;
    line-height: 1.5em;
    float: left;
    font-size: 2.5em;
    font-family: "华文行楷";
    color: #fff;
    transition: 5s;
    background-image: linear-gradient(90deg, rgb(255, 169, 69), rgb(254, 134, 159), rgb(239, 122, 200), rgb(160, 131, 237), rgb(67, 174, 255), rgb(160, 131, 237), rgb(239, 122, 200), rgb(254, 134, 159), rgb(255, 169, 69));
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: logo 5s infinite linear;
    position: relative;
    top: 10px;
    left: 3px;
}

@keyframes logo {
    from {
        background-position: 0%;
    }
    to {
        background-position: 200%;
    }
}

.left {
    position: absolute;
    width: 100%;
    height: 0px;
    line-height: 50px;
    background-color: rgb(0, 0, 0);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.left input {
    display: none;
}

.left label {
    position: absolute;
    top: 0;
    left: 200px;
    font-size: 20px;
    color: #666;
    padding-left: 20px;
    cursor: pointer;
    transition: all 0.5s;
}

.left ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    background-color: #20222a;
    transition: all 0.5s;
}

.left ul li {
    width: 100%;
    height: 70px;
    margin-bottom: 10px;
}

.left ul li:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 150px;
    padding: 10px;
}

.left ul li a {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #d2d2d2;
    text-decoration: none;
    border-left: 6px solid transparent;
}

.left ul li a i {
    font-size: 18px;
    margin: 0 15px;
}

.left ul li a span {
    font-family: "华文新魏";
    font-size: 20px;
}

.left ul li a:hover {
    color: #fff;
    border-left-color: #fb7299;
}

.left input:checked+label {
    left: 0;
}

.left input:checked+label i {
    transform: rotateY(180deg);
}

.left input:checked~ul {
    left: -200px;
}