* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

input,
button {
    background: transparent;
    border: 0;
    outline: none;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #03e9f4;
}

.box {
    background: url("../img/cover.jpg") no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    animation: bg 40s infinite linear;
    overflow: hideen;
}

::-webkit-scrollbar {
    display: none;
}

@keyframes bg {
    0%,
    100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.25);
    }
}

.loginBox {
    width: 400px;
    height: 364px;
    margin: 89px auto;
    border-radius: 10px;
    box-shadow: 0 15px 25px 0 rgba(0, 0, 0, .6);
    padding: 40px;
    box-sizing: border-box;
    position: absolute;
}

h2 {
    text-align: center;
    color: #03e9f4;
    position: absolute;
    top: 0px;
    left: 150px;
    font-family: "华文新魏";
    font-size: 34px;
    animation: mywenzi 10s linear infinite;
}

@keyframes mywenzi {
    0%,
    100% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(5px);
    }
}

.item {
    height: 45px;
    border-bottom: 1px solid #fff;
    margin-bottom: 40px;
    position: relative;
}

.item input {
    width: 100%;
    height: 100%;
    color: #fff;
    padding-top: 20px;
    box-sizing: border-box;
}

.item input:focus+label,
.item input:valid+label {
    top: 0px;
    font-size: 2px;
}

.item label {
    position: absolute;
    left: 0;
    top: 12px;
    transition: all 0.5s linear;
}

.btn {
    padding: 10px 20px;
    margin-top: 30px;
    color: #03e9f4;
    position: relative;
    overflow: hidden;
    text-transform: uppercase;
    letter-spacing: 2px;
    left: 35%;
}

.btn:hover {
    border-radius: 5px;
    color: #fff;
    background: #03e9f4;
    box-shadow: 0 0 5px 0 #03e9f4, 0 0 25px 0 #03e9f4, 0 0 50px 0 #03e9f4, 0 0 100px 0 #03e9f4;
    transition: all 1s linear;
}

.btn>span {
    position: absolute;
}

.btn>span:nth-child(1) {
    width: 100%;
    height: 2px;
    background: -webkit-linear-gradient(left, transparent, #03e9f4);
    left: -100%;
    top: 0px;
    animation: line1 1s linear infinite;
}

@keyframes line1 {
    50%,
    100% {
        left: 100%;
    }
}

.btn>span:nth-child(2) {
    width: 2px;
    height: 100%;
    background: -webkit-linear-gradient(top, transparent, #03e9f4);
    right: 0px;
    top: -100%;
    animation: line2 1s 0.25s linear infinite;
}

@keyframes line2 {
    50%,
    100% {
        top: 100%;
    }
}

.btn>span:nth-child(3) {
    width: 100%;
    height: 2px;
    background: -webkit-linear-gradient(left, #03e9f4, transparent);
    left: 100%;
    bottom: 0px;
    animation: line3 1s 0.75s linear infinite;
}

@keyframes line3 {
    50%,
    100% {
        left: -100%;
    }
}

.btn>span:nth-child(4) {
    width: 2px;
    height: 100%;
    background: -webkit-linear-gradient(top, transparent, #03e9f4);
    left: 0px;
    top: 100%;
    animation: line4 1s 1s linear infinite;
}

@keyframes line4 {
    50%,
    100% {
        top: -100%;
    }
}

.bgimg {
    background: url("img/cover.jpg") no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    animation: bg 40s infinite linear;
}

@keyframes bg {
    0%,
    100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.25);
    }
}

h3 {
    position: absolute;
    bottom: -23px;
    right: 20px;
    font-size: 13px;
}

h3 a {
    color: blue;
}

.logo {
    width: 5em;
    height: 2em;
    line-height: 1.5em;
    float: left;
    font-size: 2.5em;
    font-family: "华文行楷";
    color: #fff;
    transition: 5s;
    background-image: linear-gradient(90deg, rgb(255, 169, 69), rgb(254, 134, 159), rgb(239, 122, 200), rgb(160, 131, 237), rgb(67, 174, 255), rgb(160, 131, 237), rgb(239, 122, 200), rgb(254, 134, 159), rgb(255, 169, 69));
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: logo 5s infinite linear;
    position: relative;
    top: 10px;
    left: 3px;
}

@keyframes logo {
    from {
        background-position: 0%;
    }
    to {
        background-position: 200%;
    }
}

.left {
    float: left;
    width: 100%;
    height: 0px;
    line-height: 50px;
    background-color: rgb(0, 0, 0);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.left input {
    display: none;
}

.left label {
    position: absolute;
    top: 0;
    left: 200px;
    font-size: 20px;
    color: #666;
    padding-left: 20px;
    cursor: pointer;
    transition: all 0.5s;
}

.left ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    background-color: #20222a;
    transition: all 0.5s;
}

.left ul li {
    width: 100%;
    height: 70px;
    margin-bottom: 10px;
}

.left ul li:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 150px;
    padding: 10px;
}

.left ul li:first-child img {
    width: 80px;
    border-radius: 50%;
}

.left ul li:first-child span {
    color: #fff;
    font-size: 14px;
    white-space: nowrap;
}

.left ul li a {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #d2d2d2;
    text-decoration: none;
    border-left: 6px solid transparent;
}

.left ul li a i {
    font-size: 18px;
    margin: 0 15px;
}

.left ul li a span {
    font-family: "华文新魏";
    font-size: 20px;
}

.left ul li a:hover {
    color: #fff;
    border-left-color: #fb7299;
}

.left input:checked+label {
    left: 0;
}

.left input:checked+label i {
    transform: rotateY(180deg);
}

.left input:checked~ul {
    left: -200px;
}