* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "华文行楷", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    min-height: 100vh;
}

h2 {
    font-size: 6em;
    background-size: 80%;
    background-image: linear-gradient(to right, #000, rgb(189, 232, 250), #000);
    background-repeat: no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: jian 5s linear infinite;
}

@keyframes jian {
    from {
        background-position: -500%;
    }
    to {
        background-position: 500%;
    }
}